{% extends 'ZtrintFinanceAdminBundle::layout.html.twig' %}

{% block title %}Impuestos{% endblock %}

{% block pageheader %}
  <a href="{{ path('zf_admin_duty_index') }}">Impuestos</a>
  &gt;
  Edición de impuesto
{% endblock %}

{% block page %}
  {{ form_start(edit_form) }}
  {{ form_widget(edit_form) }}
  <button type="submit" class="btn btn-success">Guardar</button>
  {{ form_end(edit_form) }}
{% endblock %}
