{% extends 'ZtrintFinanceAdminBundle::layout.html.twig' %}

{% block title %}Divisas{% endblock %}

{% block pageheader %}
  <a href="{{ path('zf_admin_currency_index') }}">Divisas</a>
  &gt;
  Nueva divisa
{% endblock %}

{% block page %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-success">Crear</button>
  {{ form_end(form) }}
{% endblock %}
